body{
  text-align:center;
 background-color:#00ff66; 
}

h1{
  color:#ff3c00;
  font-size:50px;
}

img{
  width:255px;
  height:180px;
}

p{
  color:#ff7300;
  font-size:30px;
  font-family:fantasy
}

.menu{
  list-style:none;
  font-family:monospace
  float:right;
  top:10px;
  right:30px;
  cursor:pointer;
  color:#0062ff;
}

.links:hover{
  font-size:25px;
  text-decoration:underline;
}

.profile{
  border-radius:50%;
}

h2{
    font-size:25px;
    color:cadetblue;
}

p1{
    color:darkmagenta;
    font-family:cursive;
    
}

p2{
    color:darkmagenta;
    font-family:cursive;
}

h3{
    color:cadetblue;
    font-size: 30px;
}
